@using Microsoft.AspNetCore.Mvc.Rendering
@model SanJoseEstudiantes.Models.ViewModels.ExpedienteCreateViewModel
@{
    ViewData["Title"] = "Nuevo Expediente";
}
<h1>Nuevo Expediente</h1>
@using (Html.BeginForm("NuevoExpediente", "Home", FormMethod.Post))
{
     <div class="form-group">
         @Html.LabelFor(m => m.AlumnoId, "Alumno")
         @Html.DropDownListFor(m => m.AlumnoId, (SelectList)ViewBag.Alumnos, "Seleccionar alumno", new { @class = "form-control" })
     </div>
     <div class="form-group">
         @Html.LabelFor(m => m.MateriaId, "Materia")
         @Html.DropDownListFor(m => m.MateriaId, (SelectList)ViewBag.Materias, "Seleccionar materia", new { @class = "form-control" })
     </div>
     <div class="form-group">
         @Html.LabelFor(m => m.NotaFinal)
         @Html.TextBoxFor(m => m.NotaFinal, new { @class = "form-control", type = "number", step = "0.05", min = "0", max = "10" })
     </div>
     <div class="form-group">
         @Html.LabelFor(m => m.Observaciones)
         @Html.TextAreaFor(m => m.Observaciones, new { @class = "form-control", rows =3 })
     </div>
     <input type="submit" value="Guardar Expediente" class="btn btn-primary" />
}
